/*styles.css */

body{
    font-family: "Andale Mono", monospace;
    background-color: #eae7dc;
}

.card{
    width: 400px;
    margin: 16px auto;
    padding: 8px;
    border: 2px solid #D8C3A5;
}

.center{
    text-align: center;
}

.title{
    font-size: 32px;
    padding: 8px;
    margin: 8px auto;
    letter-spacing: 2px;
    color: #E98074;
    text-align: center;
}

.content{
    margin-bottom: 8px;
    padding: 16px 8px;
}

.menu{
    padding: 8px;
    list-style-type: none;
}

.source{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.li {
    font-size: 16px;
}

.picture {
    width: 300px;
    border: 2px solid #D8C3A5;
    margin: 16px auto;
    display: block;
}

.recipe {
    width: 1000px;
    margin: 32px auto;
}